/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Generics */
a {
    color: #000;
    text-decoration: none;
}

body {
    font-family: "Rubik Mono One", sans-serif;
}

h2 {
    color: #FF0;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

html {
    overflow-y: hidden;
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.full-page {
    height: 100vh;
    position: relative;
}

#red {
    background-color: #F00;
}

#green {
    background-color: #0F0;
}

#yellow {
    background-color: #FF0;
}

.full-page::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.navbar {
    position: fixed;
    top: 25px;
    right: 25px;
}

.navbar > ul {
    flex-direction: row;
    gap: 25px;
}

.navbar a {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #FFF;
    border-radius: 50%;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.navbar a:hover {
    scale: 1.1;
}

.navbar a:active {
    scale: 1;
}

/* Utilities */
.container {
    margin: 0 auto;
    max-width: 1080px;
}

.flex {
    display: flex;
}

.txtcol-green {
    color: #0F0;
}