/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Generics */
body {
    font-family: 'Rubik Mono One', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

/* Utilities */
.container {
    margin: 0 auto;
    max-width: 1080px;
}

.flex {
    display: flex;
}